.DS_Store
*.xpr
.idea

# Build results
.doctrees
build/
/build-*.log.gz
*.mo

# Python compiled files
*.pyc

# Testenvironment
.tox/

# Editors
*~
.*.swp
.*.swo
.bak
/.project

# Virtual envs
env/
venv/
.venv/

# Vale
.github/styles/*
!.github/styles/config
