button[data-md-color-accent],
button[data-md-color-primary] {
    width: 6.5rem;
    margin-bottom: .2rem;
    padding: 1.2rem .4rem .2rem;
    transition: background-color .25s, opacity .25s;
    border-radius: .1rem;
    color: #fff;
    font-size: .64rem;
    text-align: left;
    cursor: pointer
}

[data-md-color-primary=binero-dark] .md-container {
  background-attachment: fixed;
  background-size: cover;
}

button[data-md-color-accent]:hover,
button[data-md-color-primary]:hover {
    opacity: .75
}

button[data-md-color-primary=binero-dark] {
    background-color: #f7b05b
}

[data-md-color-primary=binero-dark] .md-typeset a {
    color: #f7b05b
}

[data-md-color-primary=binero-dark] .md-header,
[data-md-color-primary=binero-dark] .md-hero {
    background-color: #000000;
}

[data-md-color-primary=binero-dark] .md-nav__link--active,
[data-md-color-primary=binero-dark] .md-nav__link:active {
    color: #f7b05b
}

[data-md-color-primary=binero-dark] .md-nav__item--nested>.md-nav__link {
    color: inherit
}

button[data-md-color-accent=binero-dark] {
    background-color: #ff1744
}

[data-md-color-accent=binero-dark] .md-typeset a:active,
[data-md-color-accent=binero-dark] .md-typeset a:hover {
    color: #ff1744
}

[data-md-color-accent=binero-dark] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover,
[data-md-color-accent=binero-dark] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: #ff1744
}

[data-md-color-accent=binero-dark] .md-nav__link:focus,
[data-md-color-accent=binero-dark] .md-nav__link:hover,
[data-md-color-accent=binero-dark] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent=binero-dark] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent=binero-dark] .md-typeset .md-clipboard:active:before,
[data-md-color-accent=binero-dark] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent=binero-dark] .md-typeset [id] .headerlink:focus,
[data-md-color-accent=binero-dark] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent=binero-dark] .md-typeset [id]:target .headerlink {
    color: #ff1744
}

[data-md-color-accent=binero-dark] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: #ff1744
}

[data-md-color-accent=binero-dark] .md-search-result__link:hover,
[data-md-color-accent=binero-dark] .md-search-result__link[data-md-state=active] {
    background-color: rgba(255, 23, 68, .1)
}

[data-md-color-accent=binero-dark] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: #ff1744
}

[data-md-color-accent=binero-dark] .md-source-file:hover:before {
    background-color: #ff1744
}

@media only screen and (max-width:59.9375em) {
    [data-md-color-primary=binero-dark] .md-nav__source {
        background-color: rgba(190, 66, 64, .9675)
    }
}

@media only screen and (max-width:76.1875em) {
    html [data-md-color-primary=binero-dark] .md-nav--primary .md-nav__title--site {
        background-color: #f7b05b
    }
}

@media only screen and (min-width:76.25em) {
    [data-md-color-primary=binero-dark] .md-tabs {
        background-color: #f7b05b
    }
}
